<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="img-circle" src="<%= image_url('mass.png')%>" alt="Mass" width="140" height="140">
      <h2>Mass</h2>
      <p>Schedule here</p>
      <p><a class="" href="/mass-schedule" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="<%= image_url('events.png')%>" alt="Events" width="140" height="140">
      <h2>Events</h2>
      <p>The whats & whens of our parish </p>
      <p><a class="" href="/events" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="img-circle" src="<%= image_url('learn.png')%>" alt="Learn" width="140" height="140">
      <h2>Learn</h2>
      <p>Find out more about CCD, Adult Education, SJB</p>
      <p><a class="" href="/learn" role="button">View details &raquo;</a></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>
